* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f2f2f2;
}

header {
    background-color: #2b2b2b;
    color: white;
    text-align: center;
    padding: 13px;
    margin-bottom: 75px;
}

div {
    position: relative;
    bottom: 80px;
}

img {
    border-radius: 50%;
    width: 150px;
    border: 5px solid #fefefe
}

.container {
    padding: 15px;
    background-color: #fefefe;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0px 3px 3px 0px #7e7b7bfb;
    display: block;
    margin: auto;
    max-width: 750px;
    width: 100%;
}

.profile h1 {
    margin-top: 10px;
    margin-bottom: 20px;
}

.profile p {
    margin-top: 10px;
    margin-bottom: 20px;
}

.about h3, .experience h3, .projects h3, .skills h3, .contact h3 {
    background-color: #355d5d;
    color: white;
    padding: 10px;
    border-radius: 5px;
}

.about p, .experience p, .projects p {
    text-align: justify;
    padding: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.skills h3 {
    margin-bottom: 20px;
}

.skills span {
    background-color: #c35c00;
    color: white;
    display: inline-flex;
    flex-wrap: wrap;
    flex-shrink: 0;
    width: 150px;
    justify-content: center;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
    margin: 5px;
}

.contact h3 {
    margin-top: 20px;
    margin-bottom: 30px;
}

.contact h4 {
    margin-top: 40px;
}

.contact > h4 > span {
    color: red;
    font-weight: bold;
}
