img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

h1 {
    display: block;
    margin-left: 35%;
    margin-right: auto;
    width: 50%;
}

body {
    background-image: url(/image/heart.avif);
}